/*body {background-color: #cdb01f;}
*/



@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/made-bon-voyage');


/* recomendaciones de google fonts // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
.genos-<uniquifier> {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
} */

/* HEADER-HERO */

body {
    position: relative;
    z-index: -99;
}

.hero {

    /* NO COLOCAR EL FIXEDNO
    position: fixed;*/
    /*  background-attachment:fixed; */
    width: 100%;
    height: 28.5dvh;
    position: relative;
    transform: translateY(-1px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    /* z-index: -1;

    /* flex-direction: column; */
}


/* .wave {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  } */


/* @keyframes desaparece{
    0
} */
/*
.logo-img img {
    width: 45px;
    height: 50px;
    translate: -21px -6px;
}*/

.logo {
    width: 18%;
    position: absolute;
    /* background: #0f0f40ed; */
    /*  color: #2a30b1; */
    /* font-size: 1.5rem;
    text-align: center;*/
    cursor: pointer;
    display: block;
    transform: translate(12px, -256%);
    z-index: 1;
}

.nav-bar {
    /* background-color: #7fffd476; */
    display: flex;

}

#menu {
    width: 30%;
    height: 49%;
    position: absolute;
    /**/
    display: none;


}

label {
    width: 26%;
    height: 0%;
    /* transform: translate(16px, 94%); */
    /* background-color: #000000fe; */
}

.link-menu {
    display: none;
    list-style: none;
    position: relative;

}

.link-menu li a {
    background: #000000;
    color: #35a3e2;
    width: 70%;
    height: 10%;
    display: block;
    padding: 1rem;
    text-decoration: none;

}

.link-menu li a:hover {
    background-color: aqua;
}


#menu:checked~.link-menu {
    display: block;
    transform: translate(-97px, -39.3%);
}



/*.title-hero {
    color: #3d1b93;

    background-color: #8935e295;
    width: 90%;
    margin: 0;
    font-family: monospace;
    font-size: 1.8rem;
    translate: 9px 61px;
    filter: drop-shadow(2px 2px 0px #14a1d4);
}*/



/* .braida {
   background-color: #111110;
    color: #d90606;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    writing-mode: vertical-rl;
    width: 20%;

    display: inline-block;
    transform: translate(154px, -19%);
    position: absolute;
    z-index: 1;
}*/

/*.studio {
    color: #382323;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.em;
    width: 29;
    height: 140%;
    display: inline-block;
    transform: translate(-1px, 7%);
    position: absolute;
    z-index: 1;
}
   background-color: #f1f14d; */





main {
    background-color: #000000;
    height: -670%;
    position: relative;
    z-index: -10;
}

main::after {
    content: "CREATIONS";
    width: 70%;
    height: 37px;
    display: block;
    background-color: #cf191900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    filter: drop-shadow(2px -1px 1px#2084ff);
    transform: translate(49.9px, -1687px);
    position: relative;
    z-index: 10;
}


.wave {
    /* background-color: #e20aff; */
    background: linear-gradient(#000000, #0e3288, #010207, #000000);
    width: 126.1%;

    /* transform: translate(-52px, 18.9%); */
    transform: translate(-52px, 98%);
    /* box-shadow: 1px 10px 25px rgb(0, 0, 0); */
    position: relative;
    z-index: 10;
}

.wave::after {
    background-color: #eb2d100a;
    content: "Donde tus personajes cobran vida";
    display: inline-block;
    color: #5871eb;
    width: 60%;
    height: 27%;
    font-size: 1.1em;
    text-align: center;
    transform: translate(75px, -300%);
    z-index: 10;

}

.section-one {
    /* background-color: #850000; */
    /*provisorio */
    /* background: linear-gradient(#000000, #0e3288, #010207, #000000); */
    background: linear-gradient(#000000, #861704, #010207, #000000);
    /* background-color: #f43030;*/
    width: 100%;
    height: 530px;
    padding: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(55%);
    /* transform: translateY(0.2%); */
    position: relative;
    z-index: 10;

}


/* h2 {
    background-color: #10906e00;
    width: 90%;
    color: #fefefe;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: lighter;
text-align: center;
    transform: translate(10px, -40%);
    position: absolute;
    z-index: 20; */
/* overflow: hidden; */
/* position: absolute;

} */


.section-one::before {
    content: "BRAIDA";
    width: 30%;
    height: 300%;
    color: #000000;
    filter: drop-shadow(4px -1px 1px#117cfe);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    /* writing-mode: vertical-rl; */
    font-weight: lighter;
    transform: translate(7px, -710%);
    z-index: 10;
}

.section-one::after {
    content: "CREATIONS";
    width: 30%;
    height: 300%;
    color: #dc0f00c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    writing-mode: vertical-lr;
    transform: translate(3px, -237%);
    z-index: 10;
}

/* .section-picture {
    background-color: rgba(54, 106, 203, 0.94);
    width: 170%;
    height: 400dvh;
    display: flex;
    flex-direction:column;
    align-items: center;
    transform: translate(-194px, 1%);


} */

/*.section-img {
     background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;*/


/* position: absolute;
    z-index: 2;

}*/




/*
.section-img img {*/
/* background-image: url(../img/Super-heroes.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
/* width: 40%;
    display: flex;
    transform: translateX(-30px);

} */

/* .picture-1 {
    background-color: #1a041c00;
    width: 160%;
    transform: translateX(20px);
    transform: translateY(-20px);

}


.picture-2 {
    background-color: #15117f00;
    width: 160%;
    transform: translateX(-69px);
    transform: translateY(-123px);

} */


.section-one-gif {
    background-color: rgba(121, 183, 20, 0.036);
    height: 70%;
    display: flex;
    flex-direction: column;
    transform: translateY(-10%);

}

.picture-1 {
    width: 50%;
    transform: translate(94px, -160%);
}

.picture-2 {
    width: 60%;
    transform: translate(71px, -120%);
}

/* .fondo-picture-3{

    background-image: url(../img/Samuri.jpg);
    background-size: cover;
    width: 240px;
    height: 314px;
    transform: translate(-84px, 109%);
    z-index: -1;
} */

.picture-3 {
    width: 50%;
    transform: translate(3%, -135%);


}


.picture-4 {
    width: 50%;
    /* align-self: flex-end; */
    transform: translate(99%, -17%);
    /* object-fit: cover; */
}


/**/
.paragraph-section-img {
    background-color: #f4252500;
    color: #ffffff;
    width: 90%;
    font-size: 1rem;
    font-family: genos;
    text-align: center;
    /* padding: 17px; */
    transform: translate(9px, -290px);
}

strong {
    font-weight: lighter;

}

button {
    background-color: #630000;
    color: #fffaf4fb;
    width: 80px;
    height: 20px;
    padding: 2px;
    /* border: 1px solid white; */
    display: inline-block;
    font-family: genos;
    font-size: 0.70em;
    text-decoration: none;
    text-align: center;
    border-radius: 9px;
    box-shadow: 3px 3px 3px 1px #4a3d03;
    transform: translate(6px, -600%);
    animation-name: click;
    animation: boton-intermitente 3s ease 0s infinite;
    cursor: pointer;
}

@keyframes boton-intermitente {

    100% {
        background-color: #510203;
    }

    50% {
        background-color: #050f46;
    }

    0% {
        box-shadow: 2px 3px 3px 1px #034d5c;
    }
}

/* .paragraph-section-img {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;

  }

  @keyframes rotate {
    0% {
      margin-top: 100%;
      width: 300%;
    }

    100% {
      margin-top: 0%;
      width: 100%;
    }
  } */


.section-two-cards {
    background-color: rgba(198, 25, 146, 0.382);
    /* background: linear-gradient(#000000, #861704, #010207, #000000); */
    /* background-color: #090833f8; */
    width: 100%;
    height: 250dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-1px, 39.10%);
}

.title-section-two {
    background-color: #c31d1df5;
    color: #fdfff8;
    width: 90%;
    font-size: 1.8rem;
    font-weight: lighter;
    font-style: oblique;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    text-align: center;
    transform: translate(-1px, -10%);
}

/* .section-two-cards{
    background-color: rgb(231, 104, 240);
    height: 30%;
    padding: 20px;
}  */

.list-work {
    color: #d3e6fe;
    font-family: genos;
    font-variant: small-caps;

}

.section-two-cards img {
    width: 50%;
    transform: translate(10px, 10%);
    align-self: center;
}

.section-two-cards p {
    background-color: #fded10;

}


.section-three {
    background-color: #931f7a;
    max-width: 100%;
    height: 40%;
    transform: translateY(-890%);
}

.title-section-three {
    background-color: #171607;
    color: #c5e235;
    width: 90%;
    font-size: 1.5rem;
    transform: translate(-8%, 10%);
}

.section-three {
    background-color: #3b7dee7b;
    padding: 20px;
    transform: translateY(801px);

}

.section-three p {
    background-color: #d7166a;
    transform: translateY(11px);
}

.contact {
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
    padding: 19px;
    /* position: relative;*/
    transform: translateY(189%);

}

i {
    color: #082341;
}


footer a:last-child {
    /* filter: drop-shadow(2px 2px 1px #eff0ff); */
    font-size: 2rem;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 8px;
    scroll-behavior: smooth;


}

/* .derechos-reservados {
    background-color: hsl(52, 81%, 51%);
    width: 90%;
    color: red;
    font-size: 0.7em;
    /* align-self: center;

    margin-top: -190%;

} */

/**/
/*.hero {

 background-image: url(../img/Super-heroes.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 70dvh;
    background-size: cover;
}*/

/* HEADER-NAV
.nav-bar {
    width: 90%;
    height: 30%;
    padding: 0;

}*/

/*HEADER-NAV-LINKS-ICONOS-MENU*/

/* .fa-solidcolor: #fff350;
    font-size: 2rem;
.icono {
    background-color: #7fff00;
    width: 54%;
    height: 8%;
*/
/*
 transform: translateX(20px);
}*/

/* .fa-regular {


}
 */






/*HEADER-NAV-LINKS LIST-MENU
.menu {
    display: none;
    position: absolute;
    background-color: #1e0369;
    width: 39%;
    padding: 1%;
    list-style: none;
    box-shadow: 0px 8px 16px 0px #000000;
}

TEXTO DESPLEGABLE DEL NAV
.menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 12%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
}


.nav-bar:hover .menu {
    display: block;
}*/


/*CAMBIO DE COLOR DESPLEGABLE NAV
.menu a:hover {
    background-color: #a9cb11;
}*/