
/* recomendaciones de google fonts // <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900
.genos-<uniquifier> {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: italic;
} */

/* 1-BODY*/

body {
    position: relative;
    z-index: -99;
}
/* 2- HEADER-HERO*/
.hero {
    /* NO COLOCAR EL FIXEDNO
    position: fixed;*/
    /*  background-attachment:fixed; */
    width: 100%;
    height: 28.5dvh;
    position: relative;
    transform: translateY(-1px);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

}


/* .wave {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  } */


/* @keyframes desaparece{
    0
} */
/*
.logo-img img {
    width: 45px;
    height: 50px;
    translate: -21px -6px;
}*/
/*HAEDER-LOGO */
.logo {
    width: 16%;
    position: absolute;


    /* background: #0f0f40ed; */
    /*  color: #2a30b1; */
    /* font-size: 1.5rem;
    text-align: center;*/
    /* sssssiiiiiiiiiiiiiiiisiiiiiiiiiiii /* filter: drop-shadow(4px -1px 1px#117cfe);
    /* */
    cursor: pointer;
    display: block;
    transform: translate(14px, -285%);
    filter: drop-shadow(0px 0px 4px#c70300);
   animation-name:logo;
   animation: intermitente 2s ease 0s infinite;
    z-index: 1;
}


/*ANMACION HAEDER-LOGO */
@keyframes intermitente {
    90%{ filter:drop-shadow(0px 0px 4px #510d01);

    }
    50%{
        filter:drop-shadow(0px 0px 9px #000000);
    }
    50%{ filter:drop-shadow(0px 0px 9px #000000);

    }
    50%{ filter:drop-shadow(0px 0px 9px #ff0808);

    }
}

/* 3-NAVEGADOR {

/* -LABEL*/
label {
    width: 26%;
    height: 0%;
}
/* INPUT- CHECK-BOX-ID */
#menu {
    width: 30%;
    height: 49%;
    position: absolute;
    display: none;
}

/* UL*/
.link-menu {
    display: none;
    list-style: none;
    position: relative;
    align-items: center;

}
/* LISTADO li a */
.link-menu li a {
    background: #000000;
    color: #dbd800;
    width: 105%;
    height: 10%;
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}



/* SEUDOCLASE EFECTO CAMBIO DE COLOR LISTADO li a */
.link-menu li a:hover {
    background-color: rgb(195, 0, 0);
}

/* DESPLEGABLE li a */
#menu:checked~.link-menu {
    display: block;
    transform: translate(-40px, -39.3%);
}

/* 4-MAIN */
 main {
    /* background-color: #00000012; 
    height: -670%;*/
   position: relative;
    z-index: -10;
} 

/*
} */
/* BRAIDA */


 /* SEPARADOR OLA*/
.wave{
   /*  /*  background-color: #e20aff;*/
    background: linear-gradient(#010308, #000000, #800000, rgb(115, 2, 2), #0b0000);
    transform: translate(0.1px, 4%);
    position: relative;
    z-index: -10;
}


.title-braida {
width: 0;
    height: 90%;
     color: #fffc32ba;
    /* filter: drop-shadow(2px 1px 1px #fff5f5); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* font-family: 'Year One', sans-serif; */
   /* font-family: 'Gtek Regular', sans-serif;                      
    font-weight: lighter ;
    /* font-family: 'BodoniMutant', sans-serif; */
    font-size: 2em;
    transform: translate(4px, -430%);
    /* writing-mode: unset; */
    z-index: 10;
}

.section-one {
    /**/ background-color: #f43030;
    /* background: linear-gradient(#000104, #400707, #3c0303, #000003); */
    /* background: linear-gradient(#000000, #861704, #010207, #000000); */
  max-width: 100%;
    height: 183dvh;
    padding: 0;
    display: flex;
    flex-direction: column;
    transform: translateY(-1%);
    /* transform: translateY(0.2%); */
    position: relative;
    z-index: -1;

}

.section-one::after {
    content: "CREATIONS";
    width: 30%;
    height: 300%;
    color: #dc0f00c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    writing-mode: vertical-lr;
    transform: translate(-3px, -335%);
    z-index: 10;
}


.slogan{ width: 100%;
/* background-color: red;*/
    color: #f5fdbe;
   /* height: 300vdh; */
    /*  color: #000000;
    filter: drop-shadow(4px -1px 1px#117cfe); */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: genos;
    font-size: 1.em;
    font-weight: 700;
    text-align: center;
    transform: translate(-2px, 160%);
    z-index: 10;
}


/* .section-one-gif {
    background-color: rgba(121, 183, 20, 0.036);
    height: 70%;
    display: flex;
    flex-direction: column;
    transform: translateY(-10%);

} */

.picture-1 {
    width: 50%;
    transform: translate(94px, -206%);
}

.picture-2 {
    width: 60%;
    transform: translate(71px, -175%);
}

/* .fondo-picture-3{

    background-image: url(../img/Samuri.jpg);
    background-size: cover;
    width: 240px;
    height: 314px;
    transform: translate(-84px, 109%);
    z-index: -1;
} */

.picture-3 {
    width: 50%;
    transform: translate(3%, -256%);
}

.picture-4 {
    width: 50%;
    transform: translate(99%, -129%);
}


/**/
.paragraph-gif {
    background-color: #e325f400;
    color: #ffffff;
    width: 90%;
    font-size: 1rem;
    font-family: genos;
    text-align: center;
    /* padding: 17px; */
    transform: translate(9px, -389px);
}

strong {
    font-weight: lighter;

}


/* .paragraph-section-img {
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;

  }

  @keyframes rotate {
    0% {
      margin-top: 100%;
      width: 300%;
    }

    100% {
      margin-top: 0%;
      width: 100%;
    }
  } */
/* 
  .section-two{
    background-color: #030cf9;

  } */
 

  /* .title-section-two{
    background-color: #ff0a0afd;
    color: #fdfff8;
    width: 100%;
    font-size: 1.8rem;
    font-weight: lighter;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
    transform: translate(-1px, -10%); */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */




/* .section-two-cards{
    background-color: rgb(231, 104, 240);
    height: 30%;
    padding: 20px;
}  */





/* .section-two {
    background-color: #931f7a;
    max-width: 100%;
    height: 40%;
    transform: translateY(-890%);
} */
.section-two {
    background-color: #2e080871;
    /* background: linear-gradient(#000104, #897302, #9b940b, #000000); */
    /* padding: 20px; */
    max-width: 100%;
    height: 200dvh;
    display: flex;
    flex-direction: column;
    transform: translateY(5%);
    position: relative;
    z-index: -1;
}


.title-section-two {
    background-color: #17160700;
    color: #f0e508;
    width: 100%;
    font-family: 'Gtek Regular', sans-serif;
    font-weight: lighter;
    text-align: center;
    padding: 0;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 0.8rem;
    transform: translate(-1%, 25%);
}

.proceso{background-image:url(../img/equipo-de-trabajo-imagen-3-unsplash-optimiz.jpg) ;
    background-repeat: no-repeat;
    background-size: 140%;
    background-position-x: 44%;
    width: 100%;
    height: 60dvh;
    object-fit: cover;
    transform: translate(-5%, 7%);

  }
.list-work {
    color: #fffd93;
    font-family: genos;
  font-size: 1.1em;
  transform: translate(-5%, 7%);
}

button {
    background-color: #9da202;
    color: #fffaf4fb;
    width: 80px;
    height: 20px;
    padding: 2px;
    /* border: 1px solid white; */
    display: inline-block;
    font-family: genos;
    font-size: 0.70em;
    text-decoration: none;
    text-align: center;
    border-radius: 9px;
    box-shadow: 3px 3px 3px 1px #4a3d03;
    transform: translate(38px, -10%);
    animation-name: click;
    animation: boton-intermitente 3s ease 0s infinite;
    cursor: pointer;
}

@keyframes boton-intermitente {

    100% {
        background-color: #4d5102;
    }

    50% {
        background-color: #463305;
    }

    0% {
        box-shadow: 2px 3px 3px 1px #035c38;
    }
}
.section-three-cards {
    /* */ background-color: rgba(198, 25, 146, 0.77);
    /* background: linear-gradient(#01050f, #051340, #050664, #000000); */
    /* background: linear-gradient(#000000, #b18f05, #eedb0b, #1f1601); */
    /* background-color: #090833f8; */
    max-width: 100%;
    height: 850dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0.1px, 1%);
}
.title-section-three{
    color: #1100ff;
}

/* .section-two p {
    background-color: #f6ff74;
    transform: translateY(11px);
} */

.paragraph-section-three{
    color: #ff2eff;
}
.contactos {
    background-color: rgb(0, 0, 0);
max-width: 100%;
    height: 40dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 9px;
    padding: 19px;
}
    /* position: relative;*/
  

i {
    color: #1741aa;
}


.contactos a:last-child {
    /* filter: drop-shadow(2px 2px 1px #eff0ff); */
    font-size: 2rem;
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 8px;
    scroll-behavior: smooth;


}
/* HTML PAGINA 1 */
.wave-2{

     /* background: linear-gradient(#010308, #000000, #800000, #730202, #0b0000); */
    transform: translate(0.1px, 14.6%);
   position: relative;
    

}
.about-us{
    background-color: #1100ff;

    /* background: linear-gradient(#000104, #897302, #9b940b, #000000); */

    max-width: 100%;
    height: 200dvh;
    display: flex;
    flex-direction: column;
    transform: translateY(-31%);

}

.title-about{
    color: #dbd800;
    transform: translateY(-245%);
    position: relative;
    z-index: 10;

}
.paragraph-about{
    color: #f5fdbe;
    transform: translateY(45%);
    text-align: left;
    text-align: left;
}

/* .derechos-reservados {
    background-color: hsl(52, 81%, 51%);
    width: 90%;
    color: red;
    font-size: 0.7em;
    /* align-self: center;

    margin-top: -190%;

} */

/**/
/*.hero {

 background-image: url(../img/Super-heroes.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 70dvh;
    background-size: cover;
}*/

/* HEADER-NAV
.nav-bar {
    width: 90%;
    height: 30%;
    padding: 0;

}*/

/*HEADER-NAV-LINKS-ICONOS-MENU*/

/* .fa-solidcolor: #fff350;
    font-size: 2rem;
.icono {
    background-color: #7fff00;
    width: 54%;
    height: 8%;
*/
/*
 transform: translateX(20px);
}*/

/* .fa-regular {


}
 */






/*HEADER-NAV-LINKS LIST-MENU
.menu {
    display: none;
    position: absolute;
    background-color: #1e0369;
    width: 39%;
    padding: 1%;
    list-style: none;
    box-shadow: 0px 8px 16px 0px #000000;
}

TEXTO DESPLEGABLE DEL NAV
.menu a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 12%;
    margin: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
}


.nav-bar:hover .menu {
    display: block;
}*/


/*CAMBIO DE COLOR DESPLEGABLE NAV
.menu a:hover {
    background-color: #a9cb11;
}*/