 /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.hero{
    background-color: rgb(255, 128, 0);
    width: 100%;
 height: 90dvh;
 display: flex;
}
.logo-hero{
    background-color: blueviolet;
    width: 150%;
    height: 150%;
}

